* {
    margin: 0;
    padding: 0;
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
}

.logo {
    border-radius: 50%;
}

.navbar-brand {
    padding-left: 5px;
    font-family: 'Golos Text', sans-serif;
    font-weight: 900;
    font-size: 26px;
}

nav {
    font-size: 16px;
}

.main-sec {
    margin: 5% auto;
}

.slide-sec {
    padding: 5%;
}

/*Default styles for slider*/

.singlecard {
    display: flex;
    flex-direction: row;
}

.singlecard-header {
    width: 50vw;
}

.singlecard-header img {
    width: 50vw;
    max-width: 100%;
    height: auto;
}

.singlecard-body {
    padding-left: 1vw;
    padding-right: 1vw;
    width: 50vw;
}

/*Media query for smaller screens*/

@media screen and (max-width: 992px) {
    .singlecard {
        flex-direction: column;
    }

    .singlecard-header {
        width: 100vw;
    }

    .singlecard-header img {
        width: 100vw;
        max-width: 100%;
        height: auto;
    }
}