* {
  margin: 0;
  padding: 0;
  font-family: 'Golos Text', sans-serif;
  font-weight: 400;
}

/* Navbar styling */
.logo {
  border-radius: 50%;
}

.navbar-brand {
  padding-left: 5px;
  font-family: 'Golos Text', sans-serif;
  font-weight: 900;
  font-size: 26px;
}

nav {
  font-size: 16px;
}

.navbar-collapse {
  display: flex;
}

.navbar-icons {
  float: right;
}

/* banner styling*/

.intro-banner {
  width: 100%;
  height:400px;
  padding: 50px 0;
  background-image: url("/images/meBanner.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}

.banner-text {
  color: rgb(255, 255, 255);
}

/* my journey styling */

.section-banner {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(141, 177, 139));
  text-align: center;
  color: rgb(63, 117, 66);
  padding: 1% 0 1% 0;
}

#DWImage {
  height: auto;
  background-image: url("/images/myJourneyImages/DriveWorksLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#ZGImage {
  height: auto;
  background-image: url("/images/myJourneyImages/ZeroGravity.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#UoLImage {
  height: auto;
  background-image: url("/images/myJourneyImages/UoLLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#WilkoImage {
  height: auto;
  background-image: url("/images/myJourneyImages/WilkoLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}