* {
    margin: 0;
    padding: 0;
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
}

/* navbar styling */

.logo {
    border-radius: 50%;
}

.navbar-brand {
    padding-left: 5px;
    font-family: 'Golos Text', sans-serif;
    font-weight: 900;
    font-size: 26px;
}

nav {
    font-size: 16px;
}

.navbar-collapse {
    display: flex;
}

.navbar-icons {
    float: right;
}

/*end of navbar styling*/

.main-sec {
    margin: 5% auto;
    padding: 0 5% 0 5%;
}

.slide-sec {
    height: inherit;
    justify-content: center;
}

/*Default styles for slider*/

.singlecard-header img {
    width: 50vw;
}

.singlecard-title {
    text-align: center;
    font-size: 24px;
}


/*Media query for smaller screens*/

 @media screen and (max-width: 1050px) {

    .singlecard-header {
        width: 100%;
    }

    .singlecard-header img {
        width: inherit;
        max-width: 100%;
        height: auto;
    }

    .singlecard-text {
        text-align: center;
    }
} 